<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="about">
    <h2>About</h2>
    <p>Welcome to the Food Donation App by Hunger Free Organization. Our mission is to reduce food waste and hunger by connecting donors with NGOs that distribute food to those in need. With our app, you can easily donate food items and contribute to this noble cause.</p>
    <img src="{% static 'ngo_new.png'%}" alt="NGO Name Logo">
  </section>
</body>
</html>

