<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Food Donation App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">

    <style>
      #heading1{
        color: aliceblue;
        margin: 250px 450px 150px ;
      }
    </style>
    
  </head>
  <body>
    <!-- App content goes here -->
      <!-- Navbar -->
      <div id="abc">
        <nav>
            <ul>
                <li></li>
                <li><a href="http://localhost:8000/map">Select Location</a></li>
                <li><a href="http://localhost:8000/login">Sign in</a></li>
                <li><a href="http://localhost:8000/about">About us</a></li>
                <li><a href="http://localhost:8000/fooddonate">Donate us</a></li>
                
            </ul>
        </nav>
      </div>
      <h1 id="heading1">Let us Donate Food to the Needy.</h1>

  </body>
</html>
