<!DOCTYPE html>
<html lang="en">
<head>
{%load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Pure CSS Interactive Map Example</title>
    <meta name="author" content="Codeconvey" />
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="{%static 'map.css'%}">
    
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="{%static 'demo.css'%}" />
	
</head>
<body>
		
<div class="ScriptTop">
    <div class="rt-container">

<header class="ScriptHeader">

    <div class="col-rt-2" >
        <ul>
           <li><a href="http://localhost:8000/index">Home</a></li>
        </ul>
    </div>
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>Select your Country</h1>
                <p>Let's make the world Hunger Free</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
            <!-- partial:index.partial.html -->
<div class="distribution-map">
    <img src="{%static 'map.png'%}" alt="" />
   
    <button class="map-point" style="top:15%;left:35%">
        <div class="content">
            <div class="centered-y">
                <h2>GREENLAND</h2>
                <p>Tap to make the place Hunger Free.</p>
            </div>
        </div>
    </button>
    <button class="map-point" style="top:35%;left:50%">
        <div class="content">
            <div class="centered-y">
                <h2>EUROPE</h2>
                <p>Tap to make the place Hunger Free.</p>
            </div>
        </div>
    </button>
    <button class="map-point" style="top:76%;left:82.5%">
        <div class="content">
            <div class="centered-y">
                <h2>AUSTRALIA</h2>
                <p>Tap to make the place Hunger Free.</p>
            </div>
        </div>
    </button>
    <button class="map-point" style="top:40%;left:20%">
        <div class="content">
            <div class="centered-y">
                <h2>UNITED STATES</h2>
                <p>Tap to make the place Hunger Free.</p>
            </div>
        </div>
    </button>
    <button class="map-point" style="top:60%;left:53%">
        <div class="content">
            <div class="centered-y">
                <h2>AFRICA</h2>
                <p>Tap to make the place Hunger Free.</p>
            </div>
        </div>
    </button>
    <button class="map-point" style="top:50%;left:68%">
        <div class="content">
            <div class="centered-y">
                <h2><a href="http://localhost:8000/afterlocation">INDIA</a></h2>
                <p>Tap to make the place Hunger Free.</p>
            </div>
        </div>
    </button>
</div>

<!-- partial -->
           
    		</div>
		</div>
    </div>
</section>
     

   <!-- ANALYTICS -->

	</body>
</html>